<div class="pos_left">
  <%= image_tag 'nonfat_frozen_yogurt.gif' %>

</div>
<div class="pos_right">
  <iframe
    width="650"
    height="575"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAxKIeaZdVw9o1OUCjcZoWtI13h74nWdXI
      &q=Yogurt+Brothers,Wesminster+CO">
  </iframe>
</div>

<div class="pull-right">
</div>
