<div class='pos_middle'>
<%= image_tag 'logo small.png' %>
</div>

<div class="pos_right"><h2>Find Us!</h2>

  <iframe
    width="850"
    height="525"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAxKIeaZdVw9o1OUCjcZoWtI13h74nWdXI
      &q=Yogurt+Brothers,Wesminster+CO">
  </iframe>
</div>
