<h2>Current Flavors :</h2>
<div class='page-header'>
  <div class="pull-left">
  </div>
  <p>
<%= button_to "Add New Flavor", new_flavor_path, class: "button", method: "get" %>
</p>
</div>
<table border='1'>


    <tbody>
      <% @flavors.each do |flavor| %>

      <ul class="grid cs-style-1">
          <li>
            <figure>
            <img src="<%= flavor.url %>">
            <figcaption>
              <h3>Flavor:</h3>
              <span> <%= flavor.name %> </span
                <%= link_to "View Flavor" %>
            </figcaption>
          </figure>
        </li>
      <% end %>

    </tbody>
</table>
