<h2> <%= @flavor.name %></h2>

<h3>Nutrition Information:</h3>

<img src="<%= @flavor.url %>">

<h4>Ingredients-</h4> <%= @flavor.ingredients %>


<table>
  <thead>
    <th>
      
    </th>
  </thead>
</table>
