<h2>The Yogurt Brothers Family</h2>
<h4>(YES, we're family owned!)</h4>

<h3>Nick Kalinoski <%= image_tag('photo.JPG', class:'img-profile') %></h3>
<h5>Store Manager/ Owner --- Yogurt Enthusiest</h5>
              <h5>gSchool Student</h5>
              <h4>Junior Software Engineer</h4>
<h3>Jake Kalinoski <%= image_tag('jake final.png', class:'img-profile2') %></h3>
<h5>Store Manager/ Owner --- Yogurt Enthusiest</h5>
              <h5>Metropolitan State University Student</h5>
                <h4>Business/ Marketing Major</h4>

                <h3>Mark & Connie Kalinoski <%= image_tag('mom n dad.jpg', class:'img-profile3') %></h3>
                <h5>Store Owners ---     Yogurt Enthusiests</h5>
                                <h5> Successful Entreprenuers</h5>
                                <h4>A.K.A Mama & Papa Yogurt</h4>
