
<div class='info'>
<%= image_tag 'yobros home.jpg' %>
</div>


<div class='works'>
  <%= image_tag 'heres-how-it-works.gif' %>
</div>

<div class=' pull-right'>
<%= image_tag 'logo small.png' %>
</div>

<div class='nya'>
  <%= image_tag 'NYA_logo.gif' %>
</div>
